# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\University\Nam-3\Ky-1\Do-an-he-dieu-hanh-va-mang-may-tinh\Main-Project\RemoteDesktop\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
